body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#title{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
}

#reset{
    padding: 1.2px;
    width: 500px;
    height: auto;
    font-size: 25px;
    border-radius: 4px;
    cursor: pointer;
}

.button-active{
    background-color: darkgray;
}

#outer-shell{
    background-color: lightgrey;
    border: 2px solid gray;
    border-radius: 8px;
    padding: 3px 3px;
}

#main-div{
    width: 500px;
    height: 500px;
   border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.holder-specs{
    display: flex;
    flex: 1;
    padding: 0;
    margin: 0;
}

.box-specs{
    border: 1px solid black;
    background-color: white;
    align-items: stretch;
    padding: 0;
    margin: 0;
    flex: 1;
    cursor: pointer;
}

.box-pressed {
    background-color: gray;
}

.flagged{
    /* class flag */
}
